node_modules
Content.md
Jadval-rezistorni-o‘lchaydigan.odt
resistor_color_codes_2.png
dist
.parcel-cache
src/Images/Content.docx
src/Images/Architechture.drawio.svg
src/Images/Diagram.drawio.svg
src/Styles/StyleData.md
*.psd

