node_modules
TestChooseColorForInputElement
4804_sostav_naborov-800x335.jpg
Content.md
Jadval-rezistorni-o‘lchaydigan.odt
resistor_color_codes_2.png
Rezistor.jpg
rezistor1.pdf
rezistor2.pdf
dist
.parcel-cache
src/Images/Content.docx
src/Images/Architechture.drawio.svg
src/Images/Arrow.psd
src/ColorPicker.psd
src/Images/Diagram.drawio.svg
src/Images/Lines.psd
src/Images/Resistor.psd
src/Images/ResistorLittleImages/Untitled-1.psd

