* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/poppins/Poppins-Regular.otf");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("../Fonts/poppins/Poppins-Bold.otf");
}

body {
    background-color: #fefae9;
    font-size: 2.5rem;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* 

Font-sizes 

10/16/20/25/32/40/51/64

2.5rem
5.1rem

COLORS

#f9ca24

f9ca24
Tints:
#fefae9

Shades:
#322807


Spacing system(px)

2/ 4/ 6/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96

3.2rem
4.8rem
0.8rem
1.2rem
4px
1.6rem
2.4rem



Greys:
#333



*/
nav {
    display: flex;
    padding: 1.2rem 2.4rem;
    gap: 1.6rem;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    gap: 4px;
    margin-right: auto;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: #f9ca24;
    transition: all 0.3s ease;
}

nav img {
    height: auto;
    max-width: 7rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1.6rem;
}

nav ul a {
    display: inline-block;
    font-size: inherit;
    margin: inherit;
}


h1 {
    font-size: 5.1rem;
    font-family: "PoppinsBold";
    text-align: center;
}

.container {
    margin-bottom: 8rem;
}

main section:first-child {
    padding: 3.2rem 4.8rem;
    display: flex;
}

section {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

h2 {
    margin-bottom: 3.2rem;
}

section aside {
    max-width: 50%;
}

section figure {
    max-width: 54.3rem;
}

section figure figcaption {
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
}

section:nth-child(2) {
    padding: 0 4.8rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

section:nth-child(2) picture img {
    max-width: 60rem;
}

section form {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    justify-content: space-between;
    transform: translateY(-4rem);
    gap: 2.4rem;
}

form button {
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    cursor: pointer;
    border: none;
    background-color: #f9ca24;
    border-radius: 1.2rem;
    box-shadow: 0 4px 5px rgba(249, 203, 36, 0.562);
    font-size: inherit;
}

form button:hover {
    color: #322807;
    transition: color 0.3s ease-in;
}

form button:active {
    box-shadow: 0 2px 5px rgba(249, 203, 36, 0.562);
}

input {
    cursor: pointer;
    appearance: none;
    background-color: blue;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.445);
    border: none;
}

section:nth-child(2) {
    position: relative;
}

.line-1 {
    position: absolute;
}

.line-1 {
    position: absolute;
    left: 43.7rem;
    top: 13.3rem;
    background-color: green;
    width: 2.1rem;
    height: 17.6rem;
    z-index: 30;
    cursor: pointer;
}

.line-2 {
    position: absolute;
    position: absolute;
    left: 57.8rem;
    top: 16.5rem;
    background-color: yellow;
    width: 2.1rem;
    height: 11.2rem;
    z-index: 30;
    cursor: pointer;
}

.line-3 {
    position: absolute;
    left: 62.6rem;
    top: 16.5rem;
    background-color: brown;
    width: 2.1rem;
    height: 11.2rem;
    z-index: 30;
    cursor: pointer;
    position: absolute;
}

.line-4 {
    position: absolute;
    left: 76.2rem;
    top: 16.5rem;
    background-color: blue;
    width: 2.1rem;
    height: 11.2rem;
    z-index: 30;
    cursor: pointer;

}

.line-5 {
    position: absolute;
    left: 85rem;
    top: 13.3rem;
    background-color: orange;
    width: 2.1rem;
    height: 17.6rem;
    z-index: 30;
    cursor: pointer;
}

.line-6 {
    position: absolute;
    position: absolute;
    left: 88.2rem;
    top: 13.3rem;
    background-color: red;
    width: 2.1rem;
    height: 17.6rem;
    z-index: 30;
    cursor: pointer;
}

dialog {
    padding: 3.2rem;
    outline: 3px double #f9ca24;
    border: none;
    border-radius: 8px;
    color: #322807;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.459);
    margin: 0 auto;
    z-index: 40;
}

hr {
    width: calc(100vw - 6.4rem);
    margin: 0 auto;
    color: #333;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;

}

footer a {
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    gap: 4px;
}

footer a img {
    max-width: 7rem;
}

footer small {
    margin: 0 auto;
    font-size: 1.6rem;
}