* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/poppins/Poppins-Regular.otf");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("../Fonts/poppins/Poppins-Bold.otf");
}

body {
    background-color: #fefae9;
    font-size: 2.5rem;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* 

Font-sizes 

10/16/20/25/32/40/51/64

2.5rem
5.1rem

COLORS

#f9ca24

f9ca24
Tints:
#fefae9
#fdefbd

Shades:
#322807


Spacing system(px)

2/ 4/ 6/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96

3.2rem
4.8rem
0.8rem
1.2rem
4px
1.6rem
2.4rem



Greys:
#333



*/
nav {
    display: flex;
    padding: 1.2rem 2.4rem;
    gap: 1.6rem;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    gap: 4px;
    margin-right: auto;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: #f9ca24;
    transition: all 0.3s ease;
}

nav img {
    height: auto;
    max-width: 7rem;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1.6rem;
}

nav ul a {
    display: inline-block;
    font-size: inherit;
    margin: inherit;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 3.2rem;

}

footer a {
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    gap: 4px;
    max-width: 21rem;
}

footer a img {
    max-width: 7rem;
}

footer small {
    margin: 0 auto;
    font-size: 1.6rem;
}