* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/poppins/Poppins-Regular.otf");
}

@font-face {
    font-family: "PoppinsBold";
    src: url("../Fonts/poppins/Poppins-Bold.otf");
}

body {
    background-color: #fefae9;
    font-size: 2.5rem;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* 

Font-sizes 

10/16/20/25/32/40/51/64

COLORS

#f9ca24

f9ca24
Tints:
#fefae9

Shades:


Spacing system(px)

2/ 4/ 6/ 8/ 12/ 16/ 24/ 32/ 48/ 64/ 80/ 96

3.2rem
4.8rem
0.8rem
1.2rem
4px



Greys:
#333



*/
nav {
    display: flex;
    padding: 1.2rem 2.4rem;
}

nav a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    gap: 4px;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:active {
    color: #f9ca24;
    transition: all 0.3s ease;
}

nav img {
    height: auto;
    max-width: 7rem;
}

h1 {
    font-size: 5.1rem;
    font-family: "PoppinsBold";
    text-align: center;
}

.container {
    margin-bottom: 8rem;
}

main section:first-child {
    padding: 3.2rem 4.8rem;
    display: flex;
}

section {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

h2 {
    margin-bottom: 3.2rem;
}

section aside {
    max-width: 50%;
}

section figure {
    /* align-self: center;
    display: flex;
    align-items: center; */
    max-width: 54.3rem;
}

section figure figcaption {
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
}

section:nth-child(2) {
    padding: 0 4.8rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

section:nth-child(2) picture img {
    max-width: 60rem;
}

section form {
    display: flex;
    width: 60rem;
    justify-content: space-between;
    transform: translateY(-4rem);
}