/* Smaller Desktop 1360*/
@media(max-width: 85em) {
    html {
        font-size: 56.25%;
    }

    .arrow {
        bottom: -14rem;
    }

    menu button img {
        width: 9rem;
    }

    section:nth-child(2) h2 {
        font-size: 5.1rem;
        padding-bottom: 3.2rem;
        letter-spacing: -0.4px;
    }

    .line-1 {
        top: 19.6rem;
        height: calc(4rem + 10.4vw);
        left: calc(31.7rem + 5vw);
    }

    .line-2 {
        top: 23.3rem;
        height: 8.2vw;
        left: calc(32.5rem + 13.6vw);
    }

    .line-3 {
        top: 23.3rem;
        height: 8.2vw;
        /* left: calc(51.2rem + 4%); */
        left: calc(36.4rem + 13.2vw);
    }

    .line-4 {
        top: 23.3rem;
        height: 8.2vw;
        left: calc(40.2rem + 13vw);
    }

    .line-5 {
        top: 23.3rem;
        height: 8.2vw;
        left: calc(16rem + 42vw);
    }

    .line-6 {
        top: 19.5rem;
        left: 85.5rem;
        left: calc(7.7rem + 52.3vw);
    }

    section:nth-child(2) picture {

        padding-left: 5rem;
    }

    section:nth-child(2) picture img {
        max-width: 61%;
    }

    section:nth-child(2) picture[data-line="lines"] {
        padding-top: 0;
        transform: translateY(-6rem);
    }

    section form {
        width: 51vw;
        padding-left: 4.2vw;
        padding-top: 0.6rem;
        gap: 4.4vw;
    }
}

@media(max-width:68.25em) {
    main section:first-child {
        padding: 2.4rem;
    }

    section aside {
        max-width: 61%;
    }

    section figure img {
        max-width: 32.4vw;
    }

    .arrow {
        max-width: 8.2rem;
    }
}