h1 {
    font-size: 5.1rem;
    font-family: "PoppinsBold";
    text-align: center;
}

.container {
    margin-bottom: 8rem;
}

main section:first-child {
    padding: 3.2rem 4.8rem;
    display: flex;
}

section {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

h2 {
    margin-bottom: 3.2rem;
}

section aside {
    max-width: 50%;
}

section figure {
    max-width: 54.3rem;
}

section figure figcaption {
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
}

section:nth-child(2) {
    padding: 0 4.8rem;
    display: grid;
    grid-template-columns: 20.1rem 1fr;
    row-gap: 0;
}

section:nth-child(2) h2 {
    grid-column: 1/3;
    text-align: center;
}

section menu {
    display: flex;
    float: left;
    flex-direction: column;
    max-width: 20.1rem;
    align-self: first baseline;
}

menu button {
    border-radius: 4px;
    background-color: #fefae9;
    color: #333;
    border-top-color: #fefae9;
    border-left-color: #fefae9;
    border-right-color: #fefae9;
    border-bottom-color: #fdefbd;
    padding: 0.8rem 1.6rem;
    box-shadow: 0 3px 3px rgba(51, 51, 51, 0.377);
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

menu button:hover,
menu .active {
    border-color: #f9ca24;
    background-color: #f9ca24;
    color: #fefae9;
    transition: all 300ms ease-in-out;
}

menu button img {
    width: 10rem;
}

section:nth-child(2) picture,
section form {
    grid-column: 2/3;
    padding-left: 10rem;
    padding-top: 1.2rem;
}

section:nth-child(2) picture {
    display: inline-block;
}

section:nth-child(2) picture img {
    max-width: 60rem;
}

picture[data-line="lines"] {
    transform: translateY(-5rem);
    z-index: 15;
}

section form {
    display: flex;
    flex-wrap: wrap;
    width: 73rem;
    transform: translateY(-5rem);
    gap: 7.2rem;
}

form button:nth-child(1),
form button:nth-child(2),
form button:nth-child(3),
form button:nth-child(4),
form button:nth-child(5),
form button:nth-child(6) {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.445);
    border: none;
    height: 2.4rem;
}

form button:last-child {
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    cursor: pointer;
    border: none;
    background-color: #f9ca24;
    border-radius: 1.2rem;
    box-shadow: 0 4px 5px rgba(249, 203, 36, 0.562);
    font-size: inherit;
}

form button:last-child:hover {
    color: #322807;
    transition: color 0.3s ease-in;
}

form button:active {
    box-shadow: 0 2px 5px rgba(249, 203, 36, 0.562);
}

section:nth-child(2) {
    position: relative;
}

.line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6 {
    position: absolute;
    cursor: pointer
}

.hidden {
    display: none;
}

.line-1 {
    left: 43.7rem;
    top: 10.1rem;
    background-color: green;
    width: 2.1rem;
    height: 17.6rem;
    z-index: 30;
}

.line-2 {
    left: 57.8rem;
    top: 13.3rem;
    background-color: yellow;
    width: 2.1rem;
    height: 11.1rem;
    z-index: 30;
}

.line-3 {
    left: 61.6rem;
    top: 13.3rem;
    background-color: brown;
    width: 2.1rem;
    height: 11.1rem;
    z-index: 30;
}

.line-4 {
    left: 65.4rem;
    top: 13.3rem;
    background-color: blue;
    width: 2.1rem;
    height: 11.1rem;
    z-index: 30;

}

.line-5 {
    left: 76.2rem;
    top: 13.3rem;
    background-color: orange;
    width: 2.2rem;
    height: 11.1rem;
    z-index: 30;
}

.line-6 {
    left: 85rem;
    top: 10rem;
    background-color: red;
    width: 2.1rem;
    height: 17.6rem;
    z-index: 30;
}

dialog {
    padding: 3.2rem;
    outline: 3px double #f9ca24;
    border: none;
    border-radius: 8px;
    color: #322807;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.459);
    margin: 0 auto;
    z-index: 40;
}

hr {
    width: calc(100vw - 6.4rem);
    margin: 0 auto;
    color: #333;
}