h1 {
    font-size: 5.1rem;
    font-family: "PoppinsBold";
    text-align: center;
}

.container {
    margin-bottom: 8rem;
}

main section:first-child {
    padding: 3.2rem 4.8rem;
    display: flex;
}

section {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

h2 {
    margin-bottom: 3.2rem;
}

section aside {
    max-width: 50%;
}

section figure {
    max-width: 54.3rem;
}

section figure figcaption {
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
}

section:nth-child(2) {
    padding: 0 4.8rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

section:nth-child(2) picture img {
    max-width: 60rem;
}

section form {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    justify-content: space-between;
    transform: translateY(-4rem);
    gap: 2.4rem;
}

form button {
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    cursor: pointer;
    border: none;
    background-color: #f9ca24;
    border-radius: 1.2rem;
    box-shadow: 0 4px 5px rgba(249, 203, 36, 0.562);
    font-size: inherit;
}

form button:hover {
    color: #322807;
    transition: color 0.3s ease-in;
}

form button:active {
    box-shadow: 0 2px 5px rgba(249, 203, 36, 0.562);
}

input {
    cursor: pointer;
    appearance: none;
    background-color: blue;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.445);
    border: none;
}

section:nth-child(2) {
    position: relative;
}

.line-1 {
    position: absolute;
}

.line-1 {
    position: absolute;
    left: 43.7rem;
    top: 13.3rem;
    background-color: green;
    width: 2.1rem;
    height: 17.6rem;
    z-index: 30;
    cursor: pointer;
}

.line-2 {
    position: absolute;
    position: absolute;
    left: 57.8rem;
    top: 16.5rem;
    background-color: yellow;
    width: 2.1rem;
    height: 11.2rem;
    z-index: 30;
    cursor: pointer;
}

.line-3 {
    position: absolute;
    left: 61.6rem;
    top: 16.5rem;
    background-color: brown;
    width: 2.1rem;
    height: 11.2rem;
    z-index: 30;
    cursor: pointer;
    position: absolute;
}

.line-4 {
    position: absolute;
    left: 65.4rem;
    top: 16.5rem;
    background-color: blue;
    width: 2.1rem;
    height: 11.2rem;
    z-index: 30;
    cursor: pointer;

}

.line-5 {
    position: absolute;
    left: 76.2rem;
    top: 16.5rem;
    background-color: orange;
    width: 2.1rem;
    height: 11.2rem;
    z-index: 30;
    cursor: pointer;
}

.line-6 {
    position: absolute;
    position: absolute;
    left: 85rem;
    top: 13.3rem;
    background-color: red;
    width: 2.1rem;
    height: 17.6rem;
    z-index: 30;
    cursor: pointer;
}

dialog {
    padding: 3.2rem;
    outline: 3px double #f9ca24;
    border: none;
    border-radius: 8px;
    color: #322807;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.459);
    margin: 0 auto;
    z-index: 40;
}

hr {
    width: calc(100vw - 6.4rem);
    margin: 0 auto;
    color: #333;
}